version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=production
      - BACKEND_CORS_ORIGINS=["http://localhost:8000"]
    volumes:
      - .:/app
    restart: always
